@keyframes scrollBackground {
    from {
        background-position: top;
        -webkit-background-positon: top;
    }
    to {
        background-position: bottom;
        -webkit-background-positon: bottom;
    }
}

@-ms-keyframes scrollBackground {
    from {
        -ms-background-position: top;
    }
    to {
        -ms-background-position: bottom;
    }
}

@-webkit-keyframes scrollBackground {
    from {
        -webkit-background-positon: top;
    }
    to {
        -webkit-background-positon: bottom;
    }
}

.homepage {
    background: url(/img/WorkingDesk.png) no-repeat bottom fixed;
    background-size: cover;
    animation-name: scrollBackground;
    animation-duration: 40s;
    -ms-animation: scollBackground 40s;
    -webkit-animation: scrollBackground 40s;
}

.header-padding {
    padding-top: 60px;
}

.footer-padding {
    padding-bottom: 50px;
}

.footer {
    padding: 10px;
}

.footer-item {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-fixed-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.btn-prominent {
    font-weight: bold !important;
    border-radius: 15px;
    font-size: 6vw !important;
}

@media only screen and (min-width : 768px) {
    .btn-prominent {
        font-size: 2vw !important;
    }
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.navbar {

}

.slideUp {
    top: -60px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition:  all 500ms ease;
    transition: all 500ms ease;
}