<div class="homepage" layout="column" flex>
    <div layout="row" flex>
        <div layout="column" flex-xs="90" flex-offset-xs="5" flex-sm="70" flex-offset-sm="15" flex-md="50"
             flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">
            <div flex="10">
            </div>
            <div flex="none" class="text-xs-center">
                <a href="/">
                    <img ng-src="/img/CVerCleanLogo.png" width="150" height="70"/>
                </a>
                <h2 class="text-white" style="margin-top: 30px;">
                    {{ 'actions.login' | translate }} {{ 'other.or' | translate }} {{ 'actions.register' | translate }}
                </h2>
            </div>
            <div flex="none" class="card">
                <div class="card-block">
                    <div style="height: 35px;">
                        <md-button class="md-icon-button md-primary" aria-label="Back"
                                   ng-hide="authCtrl.isGetUserForm();"
                                   ng-click="authCtrl.backToGetUserForm()" class="pull-xs-left teal-text">
                            <ng-md-icon icon="arrow_back"></ng-md-icon>
                        </md-button>
                    </div>
                    <div class="text-xs-center">
                        <img ng-src="/img/user.jpg" class="img-circle" ng-hide="authCtrl.current.user.image" width="150"
                             height="150"/>
                        <img ng-src="{{authCtrl.current.user.image}}" class="img-circle"
                             ng-show="authCtrl.current.user.image" width="150" height="150"/>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="text-xs-center">
                            <strong>{{ authCtrl.current.user.firstName }} {{ authCtrl.current.user.lastName }}</strong>
                        </div>
                        <div class="text-xs-center">
                            <span>{{authCtrl.current.user.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-block" style="padding-right: 35px;" ui-view="form">
                </div>
            </div>
            <div flex="none" layout="row" layout-wrap style="margin-right: 15px;">
                <div flex-xs="100" flex="50" style="padding-left: 5px; padding-right: 5px;">
                    <md-button md-theme="facebook" class="md-raised md-primary full-width" aria-label="Back"
                               ng-click="authCtrl.loginWithFacebook();" class="pull-xs-left teal-text">
                        <i class="fa fa-facebook"> </i> Facebook
                    </md-button>
                </div>
                <div flex-xs="100" flex="50" style="padding-left: 5px; padding-right: 5px;">
                    <md-button md-theme="google" class="md-raised md-primary full-width" aria-label="Back"
                               ng-click="authCtrl.loginWithGoogle();" class="pull-xs-left teal-text">
                        <i class="fa fa-google-plus"> </i> Google +
                    </md-button>
                </div>
                <div flex-xs="100" flex="50" style="padding-left: 5px; padding-right: 5px;">
                    <md-button md-theme="linkedin" class="md-raised md-primary full-width" aria-label="Back"
                               ng-click="authCtrl.loginWithLinkedIn();" class="pull-xs-left teal-text">
                        <i class="fa fa-linkedin"> </i> LinkedIn
                    </md-button>
                </div>
                <div flex-xs="100" flex="50" style="padding-left: 5px; padding-right: 5px;">
                    <md-button md-theme="pinterest" class="md-raised md-primary full-width" aria-label="Back"
                               ng-click="authCtrl.loginWithPinterest();" class="pull-xs-left teal-text">
                        <i class="fa fa-pinterest-p"> </i> Pinterest
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>