<div flex layout="column">
    <div flex="none" class="padding-left padding-right padding-top">
        <div>
            <form id="queryTemplates" name="getUserForm"
                  ng-submit="templatesCtrl.queryChanged()">
                <md-autocomplete flex
                                 md-colors="{color: 'default-accent-600'}"
                                 class="no-error-spacer md-accent"
                                 md-input-name="autocompleteField"
                                 md-no-cache="templatesCtrl.noCache"
                                 md-search-text="templatesCtrl.query"
                                 md-items="item in templatesCtrl.autocomplete(templatesCtrl.query)"
                                 md-item-text="item | cverHtmlToPlaintext"
                                 placeholder="{{ 'actions.search' | translate }} {{ 'other.templates' | translate}}">
                    <md-item-template>
                        <span md-highlight-text="templatesCtrl.query">{{item | cverHtmlToPlaintext}}</span>
                    </md-item-template>
                </md-autocomplete>
                <md-tabs ng-show="templatesCtrl.types.length" md-selected="templatesCtrl.type" md-dynamic-height class="no-margin no-padding">
                    <md-tab ng-repeat="type in templatesCtrl.types" ng-click="templatesCtrl.tabChanged()"
                            label='{{ "cver.template." + type | lowercase | translate }}'>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </div>
    <div flex layout="column">
        <div flex layout="row" class="x-scroll-container">
            <div layout="column" style="max-width: 150px;" ng-repeat="template in templatesCtrl.templates"
                 cver-template-card="template" cver-template-callback="setTemplate" current-template="currentTemplate"  flex="none">
            </div>
        </div>
    </div>
</div>