<div flex layout-fill layout="column">
    <md-tabs md-swipe-content md-border-bottom flex layout="column" layout-fill>
        <md-tab label='{{ "other.data" | translate}}' flex layout="column">
            <md-tab-content class="md-padding" layout="column" flex layout-fill>
                <cver-data-container layout="column"></cver-data-container>
            </md-tab-content>
        </md-tab>
        <md-tab label='{{ "other.templates" | translate}}' flex layout="column">
            <md-tab-content class="md-padding" layout="column" flex layout-fill>
                <cver-templates-container layout="column"></cver-templates-container>
            </md-tab-content>
        </md-tab>
        <md-tab label='{{ "other.sync" | translate}}' flex layout="column">
            <md-tab-content class="md-padding" layout="column" flex layout-fill>
                <cver-sync-container layout="column"></cver-sync-container>
            </md-tab-content>
        </md-tab>
    </md-tabs>
</div>