<div flex layout="column">
    <div flex="none" class="padding-left padding-right padding-top">
        <div>
            <form id="queryData" name="queryData"
                  ng-submit="dataCtrl.queryChanged()">
                <md-autocomplete flex
                                 md-colors="{color: 'default-accent-600'}"
                                 class="no-error-spacer md-accent"
                                 md-input-name="autocompleteField"
                                 md-no-cache="dataCtrl.noCache"
                                 md-search-text="dataCtrl.query"
                                 md-items="item in dataCtrl.autocomplete(dataCtrl.query)"
                                 md-item-text="item | cverHtmlToPlaintext"
                                 placeholder="{{ 'actions.search' | translate }} {{ 'other.data' | translate}}">
                    <md-item-template>
                        <span md-highlight-text="dataCtrl.query">{{item | cverHtmlToPlaintext}}</span>
                    </md-item-template>
                </md-autocomplete>
                <md-tabs ng-show="dataCtrl.types.length" md-selected="dataCtrl.type" md-dynamic-height
                         class="no-margin no-padding">
                    <md-tab ng-repeat="type in dataCtrl.types" ng-click="dataCtrl.tabChanged()"
                            label='{{ "cver.data." + type | lowercase | translate }}'>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </div>
    <div flex layout="column">
        <div flex layout="row" class="x-scroll-container">
            <div layout="column" style="max-width: 250px;" ng-repeat="dataEntry in dataCtrl.data"
                 cver-data-card="dataEntry" cver-set-data-callback="setData" flex="none">
            </div>
        </div>
    </div>
</div>