<footer class="footer footer-fixed-bottom text-md-center text-xl-center text-xs-center text-sm-center text-lg-center" nav-scroll ng-class="{slideDown:boolChangeClass}">
    <b>
        <a class="footer-item teal-text" href="/about">About CVer</a>
        <a class="footer-item teal-text" href="/blog"><b>Blog</b></a>
        <a class="footer-item teal-text" href="/business">Business</a>
        <a class="footer-item teal-text" href="/education">Education</a>
        <a class="footer-item teal-text" href="/privacy">Terms & Privacy</a>
        <a class="footer-item teal-text" href="/help">Help</a>
        <a class="footer-item teal-text" href="/android">Android App</a>
    </b>
</footer>