<footer class="footer footer-fixed-bottom text-center">
    <b>
        <a class="footer-item" href="/about">About CVer</a>
        <a class="footer-item" href="/blog"><b>Blog</b></a>
        <a class="footer-item" href="/business">Business</a>
        <a class="footer-item" href="/education">Education</a>
        <a class="footer-item" href="/privacy">Terms & Privacy</a>
        <a class="footer-item" href="/help">Help</a>
        <a class="footer-item" href="/android">Android App</a>
    </b>
</footer>