<footer class="footer footer-fixed-bottom text-md-center text-xl-center text-xs-center text-sm-center text-lg-center" nav-scroll ng-class="{slideDown:boolChangeClass}">
    <b>
        <a class="footer-item teal-text" href="/about">{{ "other.about" | translate }} CVer</a>
        <a class="footer-item teal-text" href="/blog"><b>{{ "other.blog" | translate }}</b></a>
        <a class="footer-item teal-text" href="/business">{{ "other.business" | translate }}</a>
        <a class="footer-item teal-text" href="/developers">{{ "other.developers" | translate }}</a>
        <a class="footer-item teal-text" href="/education">{{ "other.education" | translate }}</a>
        <a class="footer-item teal-text" href="/privacy">{{ "other.terms" | translate }} {{ "other.&" | translate }} {{ "other.privacy" | translate }}</a>
        <a class="footer-item teal-text" href="/help">{{ "other.help" | translate }}</a>
        <a class="footer-item teal-text" href="/android">{{ "other.android" | translate }} {{ "other.app" | translate }}</a>
    </b>
</footer>