<div class="full-page-container homepage header-padding footer-padding vertical-center">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <img class="img-responsive" ng-src="/img/Businessman Logo 2.png"/>
                <h1 class="text-primary"><b>&</b></h1>
                <a href="/#/cv" class="btn btn-raised btn-primary btn-lg btn-block btn-prominent">Create your Resume</a>
            </div>
        </div>
    </div>
</div>