<div class="full-page-container homepage flex-center">
    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="text-md-center text-sm-center text-xs-center text-lg-center text-xl-center col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <img class="img-fluid img-responsive" ng-src="/img/Businessman Logo 2.png"/>
                <h1 class="teal-text"><b>&</b></h1>
                <a href="/#/cv" class="btn btn-default btn-lg btn-block btn-prominent waves-effect" role="button">{{ 'cver.create_your_resume' | translate }}</a>
            </div>
        </div>
    </div>
</div>