<md-toolbar ng-hide="mainNavCtrl.showSearch">
    <div class="md-toolbar-tools" ng-controller="AuthController as authCtrl">
        <md-button ng-click="toggleLeft()" aria-label="Menu" class="md-icon-button" ng-show="authCtrl.me">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <md-button ui-sref="home" aria-label="Home" class="btn-small" style="width: 85px !important;">
            <img ng-src="img/CverCleanLogo.png" width="80" height="40"/>
        </md-button>
        <span flex></span>
        <md-button aria-label="Search" ng-click="mainNavCtrl.toggleShowSearch()" class="md-icon-button">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <md-button aria-label="Open Settings" ng-click="toggleRight()" class="md-icon-button" ng-show="authCtrl.me">
            <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
        <md-button ui-sref="auth" aria-label="Open Settings" ng-hide="authCtrl.me">
            {{ "actions.login" | translate }}
        </md-button>
    </div>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="mainNavCtrl.showSearch">
    <div class="md-toolbar-tools md-hue-1">
        <md-button aria-label="Back" ng-click="mainNavCtrl.toggleShowSearch()">
            <ng-md-icon icon="arrow_back"></ng-md-icon> Back
        </md-button>
        <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input placeholder="Search CVer" style="margin-top: 25px;">
        </md-input-container>
        <md-button aria-label="Search" class="md-icon-button">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>