<md-toolbar md-whiteframe="2" md-scroll-shrink="" md-shrink-speed-factor="0.2" ng-if="true" ng-hide="mainNavCtrl.showSearch">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" aria-label="Menu" class="md-icon-button" ng-hide="isSideNavToggleHidden()">
            <md-tooltip md-direction="rigth">
                {{ "actions.open" | translate }} {{ "other.navigational_menu" | translate | lowercase }}
            </md-tooltip>
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <md-button ui-sref="main.home" aria-label="Home" class="btn-small" style="width: 85px !important;">
            <md-tooltip md-direction="right">
                {{ "other.homepage" | translate }}
            </md-tooltip>
            <img ng-src="img/CverCleanLogo.png" width="80" height="35"/>
        </md-button>
        <span flex></span>
        <md-button aria-label="Search" ng-click="mainNavCtrl.toggleShowSearch()" class="md-icon-button">
            <md-tooltip md-direction="bottom">
                {{ "actions.search" | translate }}
            </md-tooltip>
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <md-button ui-sref="auth" aria-label="Open Settings" class="md-icon-button" ng-hide="auth.me">
            <md-tooltip md-direction="left">
                {{ "actions.login" | translate }}
            </md-tooltip>
            <ng-md-icon icon="keyboard_tab"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar md-whiteframe="2" md-scroll-shrink="" md-shrink-speed-factor="0.2" class="md-hue-1" ng-show="mainNavCtrl.showSearch">
    <div layout="row" class="md-toolbar-tools md-hue-1">
        <md-button class="md-icon-button" ng-click="mainNavCtrl.toggleShowSearch()">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <form flex layout="row" id="getUserForm" name="getUserForm"
              ng-submit="mainNavCtrl.executeSearch()" style="margin-top: 25px;">
            <md-input-container flex md-theme="input">
                <label>&nbsp;</label>
                <input ng-model="mainNavCtrl.query" placeholder="Search CVer">
            </md-input-container>
            <md-button flex="none" type="submit" aria-label="Search" class="md-icon-button" style="margin-top: 12px;">
                <md-tooltip md-direction="left">
                    {{ "actions.search" | translate }}
                </md-tooltip>
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
        </form>
    </div>
</md-toolbar>