<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" hide-gt-md class="md-icon-button" aria-label="Settings">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <a href="/">
            <img ng-src="/img/CVerCleanLogo.png" width="60" height="30"/>
        </a>
        <span flex></span>
        <md-button ng-click="toggleRight()" class="md-icon-button" aria-label="Settings">
            <md-icon md-font-set="material-icons">folder_shared</md-icon>
        </md-button>
    </div>
</md-toolbar>
