<md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
        <cver-user-avatar></cver-user-avatar>
        <span></span>
        <div>{{auth.me.firstName}} {{auth.me.lastName}} Aleksandar Kuzmanoski</div>
        <div>{{auth.me.email}}aleksandarkuzmanoski11@gmail.com</div>
    </div>
</md-toolbar>
<md-content style="background: #fff">
    <md-list flex>
        <md-subheader>Navigation</md-subheader>
        <md-list-item ui-sref="main.home">
            <ng-md-icon icon="home" class="no-margin" style="margin-right: 10px !important;"></ng-md-icon>
            <p style="padding-left: 0px !important;">Home</p>
        </md-list-item>
        <md-list-item ui-sref="main.resume">
            <ng-md-icon icon="add" class="no-margin" style="margin-right: 10px !important;"></ng-md-icon>
            <p style="padding-left: 0px !important;">Create new Resume</p>
        </md-list-item>
        <md-list-item ui-sref="main.results">
            <ng-md-icon icon="view_quilt" class="no-margin" style="margin-right: 10px !important;"></ng-md-icon>
            <p style="padding-left: 0px !important;">Search Board</p>
        </md-list-item>
    </md-list>
</md-content>