<md-toolbar layout-padding class="md-tall md-hue-2">
    <img ng-src="{{auth.me.image}}" class="img-circle" width="80" height="80"/>
    <div>
        <span class="md-caption">{{auth.me.firstName}} {{auth.me.lastName}}</span> <br/>
        <span class="md-caption">{{auth.me.email}}</span>
    </div>
</md-toolbar>
<md-content layout-padding>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-controller="AuthController as authCtrl" ng-click="authCtrl.logout()">
                <ng-md-icon icon="pen_in_new"></ng-md-icon>
                Logout
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button>
                <ng-md-icon icon="done"></ng-md-icon>
                Apply
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button>
                <ng-md-icon icon="file_download"></ng-md-icon>
                Download
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button>
                <ng-md-icon icon="watch_later"></ng-md-icon>
                Save for later
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button>
                <ng-md-icon icon="share"></ng-md-icon>
                Share
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-content>