<form id="registerForm" name="registerForm"
      ng-submit="registerForm.$valid && authCtrl.register()">
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>{{ 'actions.type_your_first_name' | translate }}</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input type="text" id="firstNameRegister" name="firstName"
               ng-model="authCtrl.current.user.firstName" required>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>{{ 'actions.type_your_last_name' | translate }}</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input type="text" id="lastNameRegister" name="lastName"
               ng-model="authCtrl.current.user.lastName" required>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>{{ 'actions.type_your_password' | translate }}</label>
        <md-icon md-font-set="material-icons">lock</md-icon>
        <input type="password" id="passwordRegister" name="password"
               ng-model="authCtrl.current.user.password" required>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label> {{ 'actions.retype_your_password' | translate }}</label>
        <md-icon md-font-set="material-icons">lock</md-icon>
        <input type="password" id="passwordConfirmRegister" name="password"
               required >
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary full-width">{{ 'actions.register' | translate }}
    </md-button>
</form>